{% assign experiences1 = site.data.data.experiences1 %}
{% if experiences1 %}

<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
    Service
  </h2>
  

  {% for experiences1 in experiences1.papers %}
  <div class="item">
    <li>{{ experiences1.title }}</li>
    <div class="publication-conference">{{ experiences1.conference }}</div>
  </div><!--//item-->
  {% endfor %}


</section><!--//section-->
{% endif %}
