{% assign experiences1 = site.data.data.experiences1 %}
{% if experiences1 %}
<section class="section experiences1-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ experiences1.title }}
  </h2>


  {% for experiences1 in experiences1.assignments %}
    <div class="item">
      {% if experiences1.link %}
      <a href="{{ experiences1.link }}" target="_blank">{{ experiences1.title }}</a>
      {% else %}
      {{ experiences1.title }}
      {% endif %}
      
      {% if experiences1.tagline %}
       <span class="experiences1-tagline">{{ experiences1.tagline }}</span>
      </span>
      {% endif %}

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
